[submodule "mht-zigbee-examples-silabs-react"]
	path = mht-zigbee-examples-silabs-react
	url = git@github.com:vinhlq/mht-zigbee-examples-silabs-react.git
[submodule "mht-zigbee-client-examples-js"]
	path = mht-zigbee-client-examples-js
	url = git@github.com:vinhlq/mht-zigbee-client-examples-js.git
